# General
.DS_Store
Thumbs.db

# Root-level folders to ignore
.vs/
*.log
*.tmp

# Node.js (for the client and API, if applicable)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Build output (for client and API)
dist/
build/

# Specific to Visual Studio
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

